<launch>
  <node pkg="ros_start" name="Status" type="ROS_status.py" output="screen"/>
  <node pkg="ros_start" name="tracking" type="ROS_tracking.py"/>
  <node pkg="ros_start" name="controller_client" type="ROS_controller.py"/>
  <node pkg="ros_start" name="antenna_server" type="ROS_antenna_0927.py"/>
  <node pkg="ros_start" name="antenna_move" type="ROS_antenna_move1.py"/>
  <node pkg="ros_start" name="encoder_status" type="ROS_encoder.py"/>
  <node pkg="ros_start" name="weather_status" type="ROS_weather.py"/>
  <node pkg="ros_start" name="abs_controller" type="ROS_abs.py"/>
  <node pkg="ros_start" name="m4_controller" type="ROS_m4.py"/>
  <node pkg="ros_start" name="authority_change" type="ROS_authority_check.py"/>
  <node pkg="ros_start" name="drive" type="ROS_drive.py"/>
  <node pkg="ros_start" name="dome" type="ROS_dome.py"/>
  <node pkg="ros_start" name="dome_tracking" type="ROS_dome_track_check.py"/>
</launch>
